# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Flutter
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/android/key.properties

# IDE
.vscode/
.idea/\n